.setting-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.check-container {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
