input,
.date,
select {
  margin: 10px;
  align-self: flex-start;
  font-size: 18px;
}

select {
  padding: 8px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
}
